body {
    margin: 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.barra {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    background-color: #f1620f;
    padding-bottom: 48px;
}

.menu { 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 18px;
    win-width: 90px;
}

.oferta {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}