.imageninicio {
    width: 100vw;
    height: 33vw;
    display: block;
    margin: 0px;
    padding:0px;
    }

.botonadquirir a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color :#000000;
    box-sizing: border-box;
    box-sizing: color-box #ee5a05;
    border-radius: 7px;
    }

button {
    background-color: #ee5a05;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.mensaje {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #000000;
    font-family: monospace;
}